html {
    font-size: 15px;
}

body {
    margin: 0;

    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #121212;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    margin: 20px auto;

    background-color: #eee;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    height: 100px;
    flex-grow: 1;
    flex-basis: 0;
}

.red {
    background-color: #e03333;
}

.green {
    background-color: #84b10d;
}

.blue {
    background-color: #0d59d3;
}

/* Media */

@media (max-width: 800px) {
    .flex-item {
        flex-basis: 50%;
    }
}

@media (max-width: 600px) {
    .flex-item {
        flex-basis: 100%;
    }

    .red {
        order: 1;
    }

    .green {
        order: 2;
    }

    .blue {
        order: 3;
    }
}

@media (max-height: 375px) and (orientation: landscape) {
    .flex-item {
        height: 400px;
    }
}
